<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>496330817705-qf86bsoe03g3bd8bmal364otqt0cgdh4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.496330817705-qf86bsoe03g3bd8bmal364otqt0cgdh4</string>
	<key>API_KEY</key>
	<string>AIzaSyAfTFvYzXfdrj6fHwFolZHbpevxT6cmp7A</string>
	<key>GCM_SENDER_ID</key>
	<string>496330817705</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hepsi1.sharify</string>
	<key>PROJECT_ID</key>
	<string>sharify-b784b</string>
	<key>STORAGE_BUCKET</key>
	<string>sharify-b784b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:496330817705:ios:186da448561ba24ed969b8</string>
	<key>DATABASE_URL</key>
	<string>https://sharify-b784b.firebaseio.com</string>
</dict>
</plist>